body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1f2937;
    color: white;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 16px
}

.logo-menu,.hero, .information, .quote div, .action {
    display: flex;
    justify-content: space-between;
    width: 56vw;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    display: flex;
    align-items: center;
}
ul.menu {
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 16px;
}
.menu a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* HERO */
.hero {
    padding: 64px 0;
    gap: 48px;
}

.hero .description {
    width: 40%;
}

.hero .image {
    flex-grow: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 4px;
}

button {
    color: white;
    background-color: #3882f6;
    border: 0;
    box-shadow: 0;
    padding: 6px 24px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

/* INFORMATION */
.information {
    padding: 48px;
    padding-bottom: 80px;
    flex-direction: column;
    gap: 32px;
}

.information .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.gallery .card {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-shrink: 0;
    gap: 16px;
}

.gallery .card .image {
    width: 100%;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.card .text {
    text-align: center;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight:100;
    width: 44vw;
}
.quote .name {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    width: 44vw;
}

/* Action */
.action {
    padding: 80px 0;
    color: white;
}
.action-card {
    background-color: #3882f6;
    width: 100%;
    border-radius: 16px;
    padding: 64px 108px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.action .title {
    font-size: 28px;
    font-weight: bold;
}
.action .text {
    font-size: 18px;
}
.action button {
    border: 3px solid white;
}